#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	cd $(HOME)/sources/iam-login-service/iam-persistence && \
	mvn -U -B clean install && \
	cd $(HOME)/sources/iam-login-service && \
	mvn -U -B clean package

override_dh_auto_install:
	mkdir -p debian/var/lib/indigo/iam-login-service debian/etc/default debian/lib/systemd/system && \
	cp $(HOME)/sources/iam-login-service/iam-login-service/target/iam-login-service.war debian/var/lib/indigo/iam-login-service/ && \
	cp $(HOME)/sources/iam-login-service/debian/etc/default/iam-login-service debian/etc/default/ && \
	cp $(HOME)/sources/iam-login-service/debian/lib/systemd/system/iam-login-service.service debian/lib/systemd/system/ 

override_dh_auto_clean:
	echo
